<div class="breadcrumb">
	<a ui-sref="/">{{"breadcrumb.home" | translate}}</a> &raquo; <a
		ui-sref="accounts-home">{{"breadcrumb.account" | translate}}</a>
	&raquo; <a href="">{{"breadcrumb.success" | translate}}</a>
</div>
<h1>{{"account.success.title" | translate}}</h1>
<p>{{"account.success.congratulation" | translate}}</p>
<p>{{"account.success.membernotice" | translate}}</p>
<p>{{"account.success.question" | translate}}</p>
<p>
	{{"account.success.emailsent" | translate}} <a href="contact-us">{{"account.success.contactus"
		| translate}}</a>.
</p>
<div class="buttons">
	<div class="right">
		<a ui-sref="accounts-home" class="button">{{"button.continue" |
			translate}}</a>
	</div>
</div>


