<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sale Hunter</title>

<!-- font library -->
<link
	href='http://fonts.googleapis.com/css?family=Oswald:300&subset=latin'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Oswald:regular&subset=latin'
	rel='stylesheet' type='text/css'>

<!-- css library -->
<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
<link rel="stylesheet" type="text/css"
	href="assets/css/lib/bootstrap-3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="assets/css/lib/font-awesome-4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="assets/css/lib/flexslider.css" />

<!-- css application -->
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<link rel="stylesheet" type="text/css"
	href="assets/css/header-footer.css" />
<link rel="stylesheet" type="text/css" href="assets/css/login.css" />

<!-- javascript library -->
<script type="text/javascript" src="assets/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/jquery.flexslider-min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="assets/js/lib/angular.js"></script>
<script type="text/javascript" src="assets/js/lib/angular-route.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/angular-cookies.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/angular-translate.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/angular-translate-storage-cookie.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/angular-translate-storage-local.min.js"></script>
<script type="text/javascript"
	src="assets/js/lib/angular-translate-loader-partial.min.js"></script>

<!-- javascript application -->
<script type="text/javascript" src="assets/js/controller/app.js"></script>
<script type="text/javascript" src="assets/js/controller/home.js"></script>
<script type="text/javascript" src="assets/js/controller/login.js"></script>
<script type="text/javascript" src="assets/js/controller/account.js"></script>

</head>
<body ng-app="salehunter">

	<div ng-include="'views/partials/menu.html'"></div>

	<div id="box-shadow">
		<div id="container">
			<div ng-include="'views/partials/header.html'"></div>

			<div id="content" ng-view></div>
		</div>

		<div ng-include="'views/partials/footer.html'"></div>
	</div>
</body>
</html>
