<div ng-controller="loginCtrl">
	<div class="breadcrumb">
		<a ui-sref="/">{{"login.breadcrumb.home" | translate}}</a> &raquo; <a
			ui-sref="accounts-home">{{"login.breadcrumb.account" |
			translate}}</a> &raquo; <a ui-sref="accounts-login">{{"login.breadcrumb.login"
			| translate}}</a>
	</div>
	<h1>{{"login.accountlogin" | translate}}</h1>
	<div class="login-content">
		<div class="left">
			<h2>{{"login.newcustomer" | translate}}</h2>
			<div class="content">
				<p>
					<b>{{"login.registeraccount" | translate}}</b>
				</p>
				<p>{{"login.registerdescription" | translate}}</p>
				<a href="#/accounts/register" class="button">Continue</a>
			</div>
		</div>
		<div class="right">
			<h2>{{"login.returningcustomer" | translate}}</h2>
			<div class="content">
				<p>{{"login.returningdescription" | translate}}</p>
				<b>{{"login.email" | translate}}:</b><br />
				<form ng-submit="submit(user)">
					<input type="text" name="email" placeholder="Email"
						ng-model="user.email" /> <br /> <br /> <b>{{"user.password"
						| translate}}:</b><br /> <input type="password" name="password"
						placeholder="Password" ng-model="user.password" /> <br /> <a
						href="#">{{"login.forgottenpassword" | translate}}</a><br /> <br />
					<input type="submit" value="Login" class="button" />
				</form>
			</div>
		</div>
	</div>
</div>