<div id="footer-container">
	<div class="footer-about">
		<div class="text">
			<h1>About SALE HUNTER</h1>
			<p>We provide a way for you to buy products in the United States
				and then we will ship directly and then you can pick up your items
				in Vietnam ...</p>
		</div>
		<div class="social">

			<a href="http://facebook.com/pages/dx/115403961948855"
				class="soc-img"><img class="fade-image"><i
				class="fa fa-facebook-square"></i></a> <a href="skype://trinh_nganha"
				class="soc-img"><i class="fa fa-skype"></i></a>
			<div class="contact">
				<div class="phone">
					<b>Phone:</b> 8(802)234-5678, 8(803)234-5678
				</div>
				<div class="fax">
					<b>Fax:</b> 8(800)234-5678
				</div>
				<div class="email">
					<a href="mailto:support@salehunter.com">support@salehunter.com</a>
				</div>
				<div class="email">
					<a href="mailto:sales@salehunter.com">sales@salehunter.com</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="footer">
		<div class="column">
			<h3>Information</h3>
			<ul>
				<li><a href="">About Us</a></li>
				<li><a href="">Delivery Information</a></li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Terms &amp; Conditions</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Customer Service</h3>
			<ul>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Returns</a></li>
				<li><a href="">Site Map</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>Extras</h3>
			<ul>
				<li><a href="">Brands</a></li>
				<li><a href="">Gift Vouchers</a></li>
				<li><a href="">Affiliates</a></li>
				<li><a href="">Specials</a></li>
			</ul>
		</div>
	</div>
</div>