<div id="footer-container" ng-controller="appCtrl">
	<div class="footer-about">
		<div class="text">
			<h1>{{"footer.about" | translate}}</h1>
			<p>{{"footer.aboutdetail" | translate}}</p>
		</div>
		<div class="social">

			<a href="http://facebook.com/pages/dx/115403961948855"
				class="soc-img"><img class="fade-image"><i
				class="fa fa-facebook-square"></i></a> <a href="skype://trinh_nganha"
				class="soc-img"><i class="fa fa-skype"></i></a>
			<div class="contact">
				<div class="phone">
					<b>{{"footer.phone" | translate}}:</b> 8(802)234-5678, 8(803)234-5678
				</div>
				<div class="fax">
					<b>{{"footer.fax" | translate}}:</b> 8(800)234-5678
				</div>
				<div class="email">
					<a href="mailto:support@salehunter.com">support@salehunter.com</a>
				</div>
				<div class="email">
					<a href="mailto:sales@salehunter.com">sales@salehunter.com</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="footer">
		<div class="column">
			<h3>{{"footer.information" | translate}}</h3>
			<ul>
				<li><a href="">{{"footer.information.aboutus" | translate}}</a></li>
				<li><a href="">{{"footer.information.deliveryinformation" | translate}}</a></li>
				<li><a href="">{{"footer.information.privacypolicy" | translate}}</a></li>
				<li><a href="">{{"footer.information.termscondition" | translate}}</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>{{"footer.customerservice" | translate}}</h3>
			<ul>
				<li><a href="">{{"footer.customerservice.contactus" | translate}}</a></li>
				<li><a href="">{{"footer.customerservice.returns" | translate}}</a></li>
				<li><a href="">{{"footer.customerservice.sitemap" | translate}}</a></li>
			</ul>
		</div>
		<div class="column">
			<h3>{{"footer.extras" | translate}}</h3>
			<ul>
				<li><a href="">{{"footer.extras.brands" | translate}}</a></li>
				<li><a href="">{{"footer.extras.giftvouchers" | translate}}</a></li>
				<li><a href="">{{"footer.extras.affiliates" | translate}}</a></li>
				<li><a href="">{{"footer.extras.specials" | translate}}</a></li>
			</ul>
		</div>
	</div>
</div>