<div id="header-menu-bg"></div>
<div id="header_menu" ng-controller="appCtrl">
	<a href="">{{"header.menu.home" | translate}}</a><a href=""
		id="wishlist-total">{{"header.menu.wishlist" | translate}} (0)</a><a
		href="">{{"header.menu.myaccount" | translate}}</a><a href="">{{"header.menu.shoppingcart"
		| translate}}</a><a href="">{{"header.menu.checkout" | translate}}</a>
	<div id="currency">
		<a title="Euro" onclick="">€</a> <a title="Pound Sterling" onclick="">£</a>
		<a title="US Dollar" class="active">$</a>
	</div>
</div>